.post-entry {
  backface-visibility: hidden;
  transition: box-shadow 300ms, transform 300ms;
}
.post-entry:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 2.95px 2.95px 3.6px;
  transform: scale(103%);
}

.chroma > code {
  transition: background-color 100ms ease-in-out, color 200ms ease-in-out;
}

.chroma > code::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
}
.chroma > code::-webkit-scrollbar-track {
  background: transparent;
}

.chroma > code::-webkit-scrollbar-thumb {
  border-width: 0px;
}

.chroma > code::-webkit-scrollbar-thumb {
  background: var(--tertiary);
  border: 2px;
  border-radius: var(--radius);
}
